body{
   text-align: center;
   background-color:rgb(255, 248, 57);
}
.btn{
    height:200px;
    width: 200px;
    border-radius: 20%;
    border:10px solid black;
    margin: 2.5rem;
   
}
.container{
    background-color: rgb(243, 191, 239);
    display: flex;
    justify-content: center;
}
.green{
    background-color:#63aac0 ;
}

.red{
    background-color: #d95980;
}

.yellow{
    background-color:#f99b45 ;
}
.purple{
    background-color:#819ff8 ;
} 
.flash{
    background-color: white;
}
.userflash{
    background-color:green;
}